body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.mainBody{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}
.mainBody h1{
    font-family: "Yantramanav", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-top: 15%;
}
.welcomeImage{
    width: 57%;
    height: 30%;
    object-fit: contain;
    margin: 0 auto;
}
.welcomeImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%
}
.mainBody p{
    font-family: "Yantramanav", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.mainBody button{
    width: 100px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #fd7897;
    outline: none;
    border: 1px solid #fd7897;
    border-radius: 10px;
    outline: #b5576d;
    margin-top: 30px;
}
.mainBody button a{
    text-decoration: none;
    color: #fff;
    font-family: "Yantramanav", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 14px;
}
@media screen and (max-width: 449px){
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .mainBody{
        overflow: hidden;
        width: 100%;
        height: 100vh;
        border: 1px solid red;
    }
    .mainBody h1{
        font-family: "Yantramanav", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        color: #000;
        font-size: 30px;
        margin-top: 15%;
    }
    .welcomeImage{
        width: 57%;
        height: 30%;
        object-fit: contain;
        margin: 0 auto;
    }
    .welcomeImage img{
        width: 100%;
        height: 100%;
        border-radius: 50%
    }
    .mainBody p{
        font-family: "Yantramanav", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #000;
        font-size: 30px;
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }
    
    .mainBody button{
        width: 100px;
        height: 35px;
        margin: 0 auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: #fd7897;
        outline: none;
        border: 1px solid #fd7897;
        border-radius: 10px;
        outline: #b5576d;
        margin-top: 30px;
    }
    .mainBody button a{
        text-decoration: none;
        color: #fff;
        font-family: "Yantramanav", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        font-size: 14px;
    }
    .bigScreen{
        width: 100%;
        height: 100vh;
        display: none;
    }
}
@media screen and (min-width:450px){
    .mainBody{
        display: none;
    }
    .bigScreen{
        display: block;
    }
}